- Data should be ordinal
- Ordinal encoder is applied on input variables 
- Label encoding is applied on output variable

In [1]:
# IMPORTS
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\siddh\\OneDrive\\Desktop\\Data science data\\Preprocessing\\customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
# REQUIRED DATA FOR ORDINAL ENCODING
df = df.iloc[:,2:]
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [4]:
# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X = df.drop(columns=['purchased'])
y = df['purchased']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [6]:
X_train.head()

     review education
43     Poor        PG
3      Good        PG
48     Good        UG
32  Average        UG
21  Average        PG

In [7]:
# IMPORTING ORDINAL ENCODER
from sklearn.preprocessing import OrdinalEncoder

In [8]:
# CREATING ORDINAL ENCODER OBJECT
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [9]:
# FITTING TRAINING DATA TO ENCODER
oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [10]:
# TRANSFORMING DATA
X_train_encoded = oe.transform(X_train)
X_test_encoded = oe.transform(X_test)

In [12]:
X_train_encoded

array([[0., 2.],
       [2., 2.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [0., 2.],
       [0., 1.],
       [1., 2.],
       [2., 1.],
       [2., 1.],
       [1., 0.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [2., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [0., 1.],
       [1., 1.],
       [2., 1.],
       [2., 2.],
       [0., 2.],
       [0., 0.],
       [1., 0.]])

## Label Encoding on Target variable

In [13]:
# IMPORTING LABEL ENCODER
from sklearn.preprocessing import LabelEncoder

In [14]:
# CREATING LABEL ENCODER OBJECT
le = LabelEncoder()

In [15]:
# FITTING TRAINING DATA TO ENCODER
le.fit(y_train)

LabelEncoder()

In [16]:
# CLASSES
le.classes_

array(['No', 'Yes'], dtype=object)

In [17]:
# TRANSFORMING DATA
y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)

In [21]:
y_train.values,y_train_encoded

(array(['No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes',
        'Yes', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
        'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Yes',
        'No', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'No'],
       dtype=object),
 array([0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
        0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0]))